{% load static %}

<!DOCTYPE html>

<html lang = "es">

    <head>

        <title>

        {% block title %}

        {% endblock %}

        </title>

        <meta charset = "utf-8">

        <link rel = 'stylesheet' href = "{% static 'style.css' %}">

    </head>
        
    <body class = 'basket all'>

        <nav class = 'basket navegation'>

            <ul>

                <li>

                    <a href = '{% url "portfolio:index" %}'
                    target = '_self'>

                        <strong> Home </strong>

                    </a>

                </li>

                {% block navegation %}

                {% endblock %}

            </ul>
            

        </nav>

        <div class = 'basket posts'>

            {% block content %}

            {% endblock %}

        </div>

    </body>

</html>