{% extends '_Blog/base.html'%}

{% block title %}

    {{ post.shortened_heading }}

{% endblock %}

{% block content %}

    <header>

        <h1 class = 'highlight heading'> 

            {{ post.heading }}

        </h1>

        <p class = 'overshadow date'>
            
            [{{ post.date }}]
        
        </p>
        
    </header>

    <summary>

        <p class = 'overshadow drophead'>
            
            {{ post.drophead }}
        
        </p>

    </summary>

    <main>

        <p class = 'highlight content'>
            
            {{ post.content }}
        
        </p>

        <a href = '{% url "index" %}'>
            
            Volver a inicio 
        
        </a>

    </main>

{% endblock %}