{% extends '_Blog/base.html'%}

{% block title %}

    {{ post.shortened_heading }}

{% endblock %}

{% block content %}

    <h1 class = 'heading'> 

        {{ post.heading }}

    </h1>

    <p class = 'date'>
        
        {{ post.date }}
    
    </p>

    <p class = 'drophead'>
        
        {{ post.drophead }}
    
    </p>

    <p class = 'content'>
        
        {{ post.content }}
    
    </p>

    <a href = "{% url 'index' %}"> 
        
        Volver a inicio 
    
    </a>

{% endblock %}