html {
    background-image: url('background.png');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

    font-family: monospace;
    color: #ffffff;
}

.basket {
    padding: 6px;

    margin: 10px;

    border: 6px;
    border-radius: 15px;
}

.basket.all {
    display: grid;

    grid-template-areas: 'navegation posts';
    grid-template-columns: 1fr 3fr;
}

.basket.navegation {
    position: sticky;

    background-color: #0f0f0fc4;
}

.basket.posts {
    background-color: #1f1f1fc4;
}

.basket.comments {
    background-color: #4c4c4c3c;
}

.highlight-text {
    opacity: 0.8;
}

.overshadow-text {
    opacity: 0.5;
}

.heading {
    display: inline;

    font-family: sans-serif;
}

.heading.logo {
    margin: 12px;
    display: block;

    justify-self: center;

    font-size: 4em;
}

h1.heading {
    font-size: 2.4em;
}

h2.heading {
    font-size: 2em;
}

.navegation-links {
    list-style-type: none;
}

.date {
    font-size: 1em;

    display: inline;
}

.drophead {
    font-size: 1em;
}

.form {
    padding: 12px;

    border: 6px;
    border-radius: 15px;

    margin: 0px;

    background-color: #0f0f0fc4;

    display: block;

    color: #ffffff;
    
    cursor: text;
}

.form.short {
    width: 20%;
}

.form.long {
    width: 97%;
}

.form.short.submit {
    background: linear-gradient(to right, #ff0000, #ffa500, #ffff00, #00ff00, #00a5ff, #8000ff);
    
    color: #000000;
    
    cursor: pointer;
}

label {
    margin: 6px;

    display: inline-block;

    opacity: 0.5;   
}

.username {
    display: inline;
}

a {
    font-size: 1.2em;
    font-style: oblique;

    background: linear-gradient(to right, #ff0000, #ffa500, #ffff00, #00ff00, #00a5ff, #8000ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

strong {
    font-weight: bold;
}