html {
    background-image: url('images/background.png');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

    font-family: monospace;
    color: #ffffff;
}

.basket {
    padding: 6px;

    margin: 10px;

    border: 6px;
    border-radius: 15px;
}

.basket.navegation {
    background-color: #000000c4;
}

.basket.posts {
    background-color: #1f1f1fc4;
}

.basket.comments {
    background-color: #4c4c4c3c;
}

.highlight.comment {
    display: block;

    font-size: 1.2em;
}

.highlight-text {
    opacity: 0.8;
}

.overshadow-text {
    opacity: 0.5;
}

.heading {
    display: inline;

    font-family: sans-serif;
}

h1.heading {
    font-size: 2.4em;
}

h2.heading {
    font-size: 2em;
}

.date {
    font-size: 1em;

    display: inline;
}

.drophead {
    font-size: 1em;
}

a {
    background: linear-gradient(to right, #ff0000, #ffa500, #ffff00, #00ff00, #00a5ff, #8000ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-size: 1.2em;
    font-style: oblique;
}

strong {
    font-weight: bold;
}